<ion-header>
    <app-header></app-header>
</ion-header>

<ion-content>
    <div class="container my-3" id="histBody">
        <div class="row" id="check">
            <h1 class="p-2 m-2 font-weight-bold">Order History</h1>
        </div>
        <div class="row">
            <div class="col-md-12 my-2">
                <div class="row m-2 p-2 border" *ngFor="let prod of product">
                    <div class="col-md-2">
                        <img [src]="prod.imgsrc" alt="">
                    </div>
                    <div class="col-md-10">
                        <p class="h4 mb-1">{{prod.title}}</p>
                        <p class="h6 mb-2">{{prod.cost | currency:'INR'}}</p>
                        <!-- <p class="text-secondary mb-1"><small>Color: Red</small></p> -->
                        <p class="h6 mt-2">Quantity:<span class="text-success"> {{prod.quantity}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ion-footer class="footer">
        <app-footer></app-footer>
    </ion-footer>
</ion-content>